/********************************
/ Base colors
/********************************/
body {
	background-color: #EEF5EE;
}

.ui.segment {
	background-color: #FAFDFA;
	box-shadow: 0 0 0 0px rgba(39,41,43,.15),0 1px 2px 0 rgba(0,0,0,.05);
}

.ui.button a {
	color: #FAFAFA;
}
/********************************
/ Flat UI
/********************************/
.ui.segment, .ui.button, .ui.form input[type], .ui.menu {
	border-radius: 0;
}
/********************************
/ Brand colors
/********************************/
.ui.primary.segment,
.ui.primary.button,
.ui.inverted.primary.menu, 
.ui.inverted.primary.sidebar,
.ui.inverted.primary.pointing.menu .active.item:after {
	background-color: #012E13;
	color: #FFF;
}

.ui.primary.button:hover {
	background-color: #494;
}
/********************************
/ Navbar - left
/********************************/
h1.brand {
	font-size: 1.67em;
}

h2.course {
	font-size: 1.33em;
	margin-top: 0.20em;
}

.course.role {
	display: none;
}
/********************************
/ Navbar - right
/********************************/
.user.menu a.item {
	top: 0.5em;
	height: 3.0em;
}

@media all and (max-width: 767px){
	.user.menu a.item {
		display: none;
	}
}
/********************************
/ Footer
/********************************/
.ui.footer {
	margin: 0;
}
/********************************
/ Login
/********************************/
.ui.login {
	top: 7em;
	width: 25em;
	padding: 6em 4em 10em 4em;
	margin: auto;
}
/********************************
/ Landing
/********************************/
.ui.landing {
	margin: 5%;
	min-height: 35em;
	padding: 2em 2em 2em 0;
}
/********************************
/ Content area navigation (boxes)
/********************************/
.boxes {
	list-style-type: none;
}

.boxes li {
	display: inline-block;
}

.boxes li .segment {
	width: 15em;
	height: 15em;
	padding: 6.5em 0 0 0;
}

.boxes li .segment  p, .boxes li .segment  ul {
	display: none;
}
/*
.boxes li .segment:hover {
	top: 2.38em;
}

.boxes li .segment:hover p, .boxes li .segment:hover ul {
	display: block;
}
*/

.boxes li:nth-child(odd) .segment {
	background-color: #012E13;
}

.boxes li:nth-child(odd) .segment:hover {
	background-color: #044820;
}

.boxes li:nth-child(even) .segment {
	background-color: #08682d;
}

.boxes li:nth-child(even) .segment:hover {
	background-color: #16923d;
}

.boxes li a, .boxes li h3 {
	color: #FAFAFA;
}